/*!
 * Drupal specific overrides
 */
#toolbar a span.icon { display: none; }
html.js fieldset.collapsed { height: auto; }
body { background: white url(../img/grid-18px-masked.png) repeat-x; padding-top: 40px; }
h1 {  margin-bottom: 20px; }
table.table .radio input[type="radio"], table.table .checkbox input[type="checkbox"] { float: none; margin-left: 0; }
table.table td.checkbox { margin: 0; text-align: center; }
body.navbar-position-relative .navbar .navbar-inner > .container { width: auto; }
body.navbar-position-fixed.toolbar { padding-bottom: 65px; }
body.navbar-position-fixed.toolbar #toolbar { bottom: 0; top: auto; }